# === Angular (frontend) ===
/CRUD-frontend-Spring/node_modules/
/CRUD-frontend-Spring/dist/
/CRUD-frontend-Spring/.angular/
CRUD-frontend-Spring/*.log

# === Spring Boot (backend) ===
/CRUD-backend-Spring/target/
/CRUD-backend-Spring/.mvn/
*.log
*.jar
*.war

# === OS & IDE files ===
.DS_Store
Thumbs.db
*.iml
*.class
.vscode/
/.idea/
